{
    "tasks":[
        {
            "workDir": "/home/st1v/Scrivania/ec2-py-scheduling",
            "cmd" : "python3 main.py",
            "runsOn": []
        },
        {
            "workDir": "/home/st1v/Scrivania/ec2-py-scheduling",
            "cmd" : "python3 main.py",
            "runsOn": ["14:57:00","14:57:30"]
        }
    ]
}
